[submodule "idc"]
	path = idc
	url = ../id_compiler.git
[submodule "editor"]
	path = editor
	url = ../id_editor.git
[submodule "kernel"]
	path = kernel
	url = ../id_kernel.git
[submodule "vscode"]
	path = vscode
	url = ../id_vscode.git
[submodule "c2id"]
	path = c2id
	url = ../id_c2id.git
